<!--SCRIPTS-->
<script src="/linker/js/socket.io.js"></script>
<script src="/linker/js/sails.io.js"></script>
<script src="/linker/js/app.js"></script>
<script src="/linker/js/jquery.min.js"></script>
<script src="/linker/js/semantic.min.js"></script>
<!--SCRIPTS END-->
<!--STYLES-->
<link rel="stylesheet" href="/linker/css/reset.css">
<link rel="stylesheet" href="/linker/css/semantic.min.css">
<link rel="stylesheet" href="/linker/css/general.css">
<!--STYLES END-->

<%- partial('../site/partials/header') %>
<%- partial('../site/partials/page_open') %>

<div class="four wide column"></div>
<div class="eight wide column">
<form class="ui the form segment">
	<h4 class="ui top attached header soft padded">
	  User Information
	</h4>

	<img src="/images/face.png" class="left floated"></img>
	<div class="right floated  soft padded">
		<i>Username:</i>
		<h1 class="left tabbed"><%= user.username %></h1>
		<i>Location:</i>
		<h1 class="left tabbed"><%= user.location %></h1>
		<i>Current Event:</i>
		<h1 class="left tabbed"><%= user.currentEvent %></h1>
	</div>
<div class="ui divider"></div>
<h4 class="ui top attached header">
	  Recent Event
	</h4>
<ul class="left tabbed padding top soft padded">
	<% _.each(user.pastEvents, function (event, i) { %>
    <li><%= event %></li>
    <% return (i < 4); %>
    <% }) %>
</ul>
<div class="ui divider"></div>
<h4 class="ui top attached header">
	  Friends
	</h4>
<ul class="left tabbed soft padded">
	<% _.each(user.friends, function (friend, i) { %>
    <li><%= friend %></li>
    <% return (i < 4); %>
    <% }) %>
    <p class="soft padded"><%= "Total Friends: " + user.friends.length %></p>
</ul>
</form>
<form method="post" action="/u/<%= user.username %>">
<button type="submit" class="ui blue submit button left floated">Add Friend</button>
</form>
<button class="ui blue submit button right floated" id="inviteToEvent">Invite To Event</button>


<div class="ui modal invite">
  <i class="close icon"></i>
  <div class="header">
    Invite To Your Current Event
  </div>
  <div class="content">
    <div class="left">
      Invite <strong><%=user.username%></strong> to your current event?
    </div>
  </div>
  <div class="actions">
  	
    <div class="ui button">Cancel</div>
    <form method="post" action="/u/<%= user.username %>/inviteToEvent">
    <button  type="submit" class="ui button">OK</button>
    </form>
  </div>
</div>

<div class="ui modal invite">
  <i class="close icon"></i>
  <div class="header">
    Invite To Your Current Event
  </div>
  <div class="content">
    <div class="left">
      Invite <strong><%=user.username%></strong> to your current event?
    </div>
  </div>
  <div class="actions">
  	
    <div class="ui button">Cancel</div>
    <form method="post" action="/u/<%= user.username %>/inviteToEvent">
    <button  type="submit" class="ui button">OK</button>
    </form>
  </div>
</div>


<div id="list_results"></div>

<script type="text/javascript">
	$("#inviteToEvent").click(function(){
		$('.ui.modal.invite').modal('show');
	});
</script>

<%- partial('../site/partials/page_close') %>