<!--SCRIPTS-->
<script src="/linker/js/socket.io.js"></script>
<script src="/linker/js/sails.io.js"></script>
<script src="/linker/js/app.js"></script>
<script src="/linker/js/jquery.min.js"></script>
<script src="/linker/js/semantic.min.js"></script>
<!--SCRIPTS END-->
<!--STYLES-->
<link rel="stylesheet" href="/linker/css/reset.css">
<link rel="stylesheet" href="/linker/css/semantic.min.css">
<link rel="stylesheet" href="/linker/css/general.css">
<!--STYLES END-->
<link rel="stylesheet" href="/css/search_results.css">

<%- partial('../site/partials/header') %>
<%- partial('../site/partials/page_open') %>

<div class="sixteen wide column">
	<form class="ui the form segment" method="post" action="/home/search">
		<div class="ui fluid icon input">
	  		<input name="eventName" type="text" placeholder="Find Event">
	  		<i class="search icon"></i>
	  	</div>
	</form>
	<table class="ui inverted blue table segment">
  <thead>
	    <tr>
	    <th>Name</th>
	    <th>Host</th>
	  </tr>
	  </thead>
	  <tbody>
	  <%if(typeof events != 'undefined'){%>
		<% _.each(events, function (event, i) { %>
		<tr>
	    <td><a href='/e/<%= event.name %>'><%= event.name %></a></td>
	    <td><%= event.host %></td>
	    </tr>
	    <% })} %>
	  </tbody>
	</table>
	<a id="create_event" class="ui blue button">Create Event</a>
	</div>
</div>

<%- partial('../site/partials/page_close') %>

<%- partial('../site/partials/new_event') %>

<script type="text/javascript" src="/js/client_search.js"></script>
<script type="text/javascript">
  $(function() {
  	$('#create_event_modal').modal('attach events', '#create_event', 'show');
  });
</script>