<!--SCRIPTS-->
<script src="/linker/js/socket.io.js"></script>
<script src="/linker/js/sails.io.js"></script>
<script src="/linker/js/app.js"></script>
<script src="/linker/js/jquery.min.js"></script>
<script src="/linker/js/semantic.min.js"></script>
<!--SCRIPTS END-->
<!--STYLES-->
<link rel="stylesheet" href="/linker/css/reset.css">
<link rel="stylesheet" href="/linker/css/semantic.min.css">
<link rel="stylesheet" href="/linker/css/general.css">
<!--STYLES END-->

<%- partial('../site/partials/header') %>
<%- partial('../site/partials/page_open') %>

<h1 class="ui header"><%= event.name %></h1>
<h2 class="ui header"><%= event.host %></h2>
<h2 class="ui header"><%= audio.track %></h2>
<h2 class="ui header"><%= event.time %></h2>

<%- partial('../site/partials/page_close') %>